@tailwind base;
@tailwind components;
@tailwind utilities;


 @font-face {
  font-family: makota;
  src: url(./font/Makota.ttf);
}
@font-face {
  font-family: thabit;
  src: url(./font/Thabit.ttf);
}
@font-face {
  font-family: MajorMonoDisplay-Regular;
  src: url(./font/MajorMonoDisplay-Regular.ttf);
}

@font-face {
  font-family: LibreBarcode39-Regular;
  src: url(./font/LibreBarcode39-Regular.ttf);
}

@font-face {
  font-family: Linefont-VariableFont;
  src: url(./font/Linefont-VariableFont.ttf);
}


/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

* {
  box-sizing: border-box;
  margin: 0;
}

body {

  overflow-x: hidden;
  background-color: #2b2b2b;
  
}

.container {
  /* width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  margin: auto;
  background: #2b2b2b;
  padding: 1rem;
}

.selectDisable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
